@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.menu-toggle {
  background-color: transparent;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.menu-toggle:hover span, .menu-toggle:focus span {
  background-color: var(--clr-accent);
}
.menu-toggle span {
  position: absolute;
  border-radius: 5px;
  width: 30px;
  height: 3px;
  background-color: var(--clr-primary);
  transition: 0.5s;
}
.menu-toggle.active span:nth-child(3) {
  transform: translateX(50px);
}
.menu-toggle span:nth-child(1) {
  transform: translateY(-8px);
  width: 15px;
  left: 5px;
  transition-delay: 0.125s;
}
.menu-toggle.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 30px;
}
.menu-toggle span:nth-child(2) {
  transform: translateY(8px);
  width: 20px;
  left: 5px;
}
.menu-toggle.active span:nth-child(2) {
  transform: translateY(0) rotate(315deg);
  width: 30px;
  transition-delay: 0.25s;
}

.header {
  width: 20%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: -500px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  transition: 0.5s;
}
.header .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.header .nav__list--items {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .nav__list--links {
  color: var(--clr-primary);
  text-decoration: none;
}
.header .nav__list--links:hover {
  color: var(--clr-accent);
}

:root {
  --clr-primary: #FAF8FF;
  --clr-secondary: #383645;
  --clr-accent: #8685EF;
  --clr-bg-light: linear-gradient(to right top, #4600ff, #0085ff, #00b9ff, #00e0dc, #00ff96);
}

.dark-mode {
  --clr-primary: #222;
  --clr-secondary: #FAF8FF;
  --clr-accent: #8685EF;
  --clr-bg-light: linear-gradient(to top, #f334d3, #ca3ad7, #9e3fd7, #6a42d3, #0d43cb);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  cursor: pointer;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--clr-primary);
}

.main {
  background-image: var(--clr-bg-light);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.main__title {
  font-size: 1.5rem;
  color: var(--clr-secondary);
  text-transform: uppercase;
  padding-block: 0.5em;
}
.main .file-label {
  color: var(--clr-secondary);
  width: 900px;
  max-width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1em;
  cursor: pointer;
}
.main .file-label input {
  font-size: 0.8rem;
}
.main .file-label i {
  margin-left: 1em;
  animation: wiggleLeft 2s linear infinite;
}
@keyframes wiggleLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  0% {
    transform: translateX(0);
  }
}
.main__image--container {
  width: 900px;
  max-width: 100%;
  flex-grow: 1;
  border: 2px solid var(--clr-secondary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.main__image--container .canvas {
  position: absolute;
  inset: 0;
}
.main__tools--container {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}
.main__tools--container .pen--container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__tools--container .pen--container label {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.main__tools--container .colors--container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.main__tools--container .colors--container > * {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.main__tools--container .colors--container > *:hover, .main__tools--container .colors--container > *:focus {
  scale: 1.2;
}
.main__tools--container .colors--container .clr__white--btn-darkMode {
  border: 1px solid var(--clr-accent);
}
.main__tools--container .tools--container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main__tools--container .tools--container button {
  cursor: pointer;
}
.main__tools--container .tools--container button:hover, .main__tools--container .tools--container button:focus {
  scale: 1.2;
  color: var(--clr-accent);
}
.main .dice__container {
  background: #3c3838;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 100;
  max-width: 500px;
  width: 70%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .dice__container .dice__title {
  color: #FAF8FF;
  font-size: 2rem;
}
.main .dice__container.dice-show {
  display: flex;
}
.main .dice__container .dice__img {
  width: 150px;
}
.main .dice__container .dice__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main .dice__container .dice__buttons .dice__close--btn {
  color: #FAF8FF;
  font-size: 0.8rem;
  padding: 0.3em 3em;
  border-radius: 0.5rem;
}
.main .dice__container .dice__buttons .dice__close--btn:hover, .main .dice__container .dice__buttons .dice__close--btn:focus {
  color: var(--clr-accent);
}
.main .dice__container .dice__buttons .dice__roll--btn {
  color: #FAF8FF;
  background-color: #8685EF;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.5em 4em;
  border-radius: 0.5rem;
}
.main .dice__container .dice__buttons .dice__roll--btn:hover, .main .dice__container .dice__buttons .dice__roll--btn:focus {
  transform: scale(0.95);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 5px 0px rgba(255, 255, 255, 0.75);
}

/*# sourceMappingURL=main.css.map */
