*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  cursor: pointer;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.main__title {
  text-transform: uppercase;
  padding-block: 0.5em;
}
.main .file-label {
  width: 1100px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.main .file-label input {
  font-size: 0.8rem;
}
.main .file-label i {
  animation: wiggleLeft 2s linear infinite;
}
@keyframes wiggleLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  0% {
    transform: translateX(0);
  }
}
.main__image--container {
  width: 1100px;
  max-width: 100%;
  flex-grow: 1;
  border: 2px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.main__image--container .canvas {
  position: absolute;
  inset: 0;
}
.main__tools--container {
  width: 1100px;
  max-width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #222;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #fff;
}
.main__tools--container .pen--container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__tools--container .pen--container label {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.main__tools--container .colors--container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.main__tools--container .colors--container > * {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.main__tools--container .colors--container > *:hover, .main__tools--container .colors--container > *:focus {
  scale: 1.2;
  border: 1px solid #fff;
}
.main__tools--container .colors--container button:first-of-type:hover, .main__tools--container .colors--container button:first-of-type:focus {
  border: 1px solid red;
}
.main__tools--container .tools--container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main__tools--container .tools--container button {
  cursor: pointer;
}
.main__tools--container .tools--container button:hover, .main__tools--container .tools--container button:focus {
  scale: 1.2;
  color: red;
}
.main .dice__container {
  background: #ccc;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 100;
  width: 40%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .dice__container.dice-show {
  display: flex;
}
.main .dice__container .dice__img {
  width: 150px;
}
.main .dice__container .dice__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main .dice__container .dice__buttons .dice__close--btn {
  font-size: 0.8rem;
  border: 1px solid #222;
  padding: 0.3em 3em;
  border-radius: 0.5rem;
}
.main .dice__container .dice__buttons .dice__close--btn:hover, .main .dice__container .dice__buttons .dice__close--btn:focus {
  color: red;
  transform: scaleX(1.1);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.75);
}
.main .dice__container .dice__buttons .dice__roll--btn {
  background-color: #222;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.5em 4em;
  border-radius: 0.5rem;
}
.main .dice__container .dice__buttons .dice__roll--btn:hover, .main .dice__container .dice__buttons .dice__roll--btn:focus {
  transform: scaleX(1.1);
  color: red;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=main.css.map */
