@import 'config';
@import 'menu-toggle';
@import 'header';

// Variables 

$ff__body : 'Roboto', sans-serif;

:root {
    --clr-primary: #FAF8FF;
    --clr-secondary: #383645;
    --clr-accent: #8685EF;

    --clr-bg-light: linear-gradient(to right top, #4600ff, #0085ff, #00b9ff, #00e0dc, #00ff96);
    
}

.dark-mode {
    --clr-primary: #222;
    --clr-secondary: #FAF8FF;
    --clr-accent: #8685EF;

    --clr-bg-light: linear-gradient(to top, #f334d3, #ca3ad7, #9e3fd7, #6a42d3, #0d43cb);

}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: $ff__body;
}

ul {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    cursor: pointer;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--clr-primary);
}

.main {
    background-image: var(--clr-bg-light);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

    &__title {
        font-size: 1.5rem;
        color: var(--clr-secondary);
        text-transform: uppercase;
        padding-block: .5em;
    }

    .file-label {
        color: var(--clr-secondary);
        width: 900px;
        max-width: 100%;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1em;
        cursor: pointer;

        & input {
            font-size: .8rem;
        }

        & i {
            margin-left: 1em;
            animation: wiggleLeft 2s linear infinite;

            @keyframes wiggleLeft {
                0% {
                    transform: translateX(0);
                }
                50% {
                    transform: translateX(-10px);
                }
                0% {
                    transform: translateX(0);
                }
            }
        }
    }

    &__image--container {
        width: 900px;
        max-width: 100%;
        flex-grow: 1;
        border: 2px solid var(--clr-secondary);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        & .canvas {
            position: absolute;
            inset: 0;
        }
    }

    &__tools--container {
        // width: 1100px;
        // max-width: 100%;
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--clr-secondary);
        color: var(--clr-primary);

        & .pen--container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & label {
                text-transform: uppercase;
                font-size: .7rem;
            }
        }
    
        & .colors--container {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            & > * {
                cursor: pointer;
                width: 25px;
                height: 25px;
                border-radius: 50%;

                &:hover,
                &:focus {
                    scale: 1.2;
                }
            }

            .clr__white--btn-darkMode{
                border: 1px solid var(--clr-accent);
            }
        }

        & .tools--container {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & button {
                cursor: pointer;

                &:hover,
                &:focus {
                    scale: 1.2;
                    color: var(--clr-accent);
                }
            }
        }
    }
    // dice container starts here
    .dice__container {
        background: rgb(60, 56, 56);
        border-radius: .5rem;
        position: absolute;
        z-index: 100;
        max-width: 500px;
        width: 70%;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-block: 3em;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .dice__title {
            color: #FAF8FF;
            font-size: 2rem;
        }

        &.dice-show {
            display: flex;
        }

        & .dice__img {
            width: 150px;
        }

        .dice__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .dice__close--btn {
                color: #FAF8FF;
                font-size: .8rem;
                padding: .3em 3em;
                border-radius: .5rem;

                &:hover,
                &:focus {
                    color: var(--clr-accent);
                }
            }

            .dice__roll--btn {
                color: #FAF8FF;
                background-color: #8685EF;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 2px;
                padding: .5em 4em;
                border-radius: .5rem;
    
                &:hover,
                &:focus {
                    transform: scale(0.95);
                    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75), inset -2px -2px 5px 0px rgba(255,255,255,0.75);
                }
            }
        }        
    }
}
